[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
scikit-learn = "*"
qiskit = "1.2.4"
qiskit-aer = "*"
qiskit-machine-learning = "*"
matplot = "*"
qiskit-algorithms = "*"

[dev-packages]

[requires]
python_version = "3.10"
